@page "/"

<h1>Electric Bikes Shop (modified)</h1>
Welcome to the Electric Bikes Shop. This is a web application demo based on Blazor framework.

<SurveyPrompt Title="How is Blazor working for you?" />
